.w{
    width: 1190px;
    margin: 0 auto;
}
.fr{    
    float: right;
}
.fl{
    float: left;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration-line: none;
    color: #747474;
}
i{
    font-style: normal;
    font-weight: normal;
}
.ShowRed{ 
    color : #f10215 !important;
}
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?axvffw');
    src:  url('../fonts/icomoon.eot?axvffw#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?axvffw') format('truetype'),
      url('../fonts/icomoon.woff?axvffw') format('woff'),
      url('../fonts/icomoon.svg?axvffw#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
.J_event{
    background:#000;
}
.J_event a{
    height: 80px;
    width: 100%;
    background:url(../image/top.jpg) no-repeat;
    display: block;
    position: relative;
    font-size:6px;
}
.J_event em{
    font-family: "icomoon";
    font-style: normal;
    position: absolute;
    top:5px;
    right:0;
    font-weight: normal;
    width: 20px;
    height: 20px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    background:rgba(0, 0, 0, .4)
}
.shortcut .w{
    position: relative;
}
.showtcut .fl li{
    float: left;
}
.showtcut .fr li{
    float: left;
}
